chardet==5.0.0
kaleido==0.2.1
lxml==4.9.1
numpy==1.23.4
pandas==1.5.0
Pillow==9.2.0
plotly==5.10.0
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2022.4
six==1.16.0
striprtf==0.0.21
tenacity==8.1.0
XlsxWriter==3.0.3
marko
html5lib
html-to-json
tqdm
dalle-mini
git+https://github.com/patil-suraj/vqgan-jax.git